<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body onload="transition()">
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">

      <%  newListItems.forEach((item)=>{ %>
        <div class="item">

          <% if(item.check == "on"){ %>
            <form class="" action="/check" method="post">
              <button id="button" type="submit" style="background-color: #e64343;" class="check" name="checkbox" value="<%= item._id %>">
                .
              </button>
              <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
            <p class="strike"><%= item.name %></p>
          <% } else { %>
            <form class="" action="/check" method="post">
              <button type="submit" style="background-color: #4aba68;" class="check" name="checkbox" value="<%= item._id %>">
                .
              </button>
              <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
            <p><%= item.name %></p>
          <% } %>

          <form class="bin" action="/delete" method="post">
            <button class="trash" type="submit" name="bin" value="<%= item._id %>">
              <i class="fa fa-trash"></i>
            </button>
            <input type="hidden" name="listName" value="<%= listTitle %>">
          </form>
        </div>
        <%  }) %>

          <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button class="add" type="submit" name="list" value="<%= listTitle %>">
              <i class="fa fa-plus"></i>
            </button>
          </form>
        </div>
        <footer>
          Rittik Sarkar
        </footer>
        <script type="text/javascript">
          function transition() {
            let buttons = document.querySelectorAll("button");
            for (var i = 0; i < buttons.length; i++) {
              buttons[i].style.transition = '0.3s';
            }
          }
        </script>
      </body>
    </html>